body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.oswald-bold {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold weight */
  font-style: normal;
  font-size: 30px;
}

.raleway-medium {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.playfair-display-extraboid {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.font-logo {
  font-size: 40px;
}

.logo-header {
  width: 60px;
  margin-bottom: 10px;
}

.logo-header:hover {
  cursor: pointer;
}

.content-heading {
  text-align: center;
  margin: 40px;
}

.image-contents {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.horizontal-scroll {
  overflow-x: auto;
  width: 100%;
}

.horizontal-scroll .row {
  display: inline-flex;
  flex-wrap: nowrap;
}

.horizontal-scroll .col-xl-4 {
  flex: 0 0 auto;
  width: 33.3333%;
}

.card-item:hover {
  transform: translateY(-12px);
  transition-duration: 1s;
}

img:hover {
  transform: scale3d(1.09, 1.09, 1.09);
  transition-duration: 1s;
}
